header {
  position: relative;
  display: block;
  width: 100%;
  background: #010000;
  color: #ffffff;
  height: 120px; }

header .logo {
  position: absolute;
  top: 50%;
  left: 15px; }

header nav,
header nav ul,
header nav ul li {
  margin: 0;
  padding: 0; }

header nav {
  position: absolute;
  top: 50%;
  right: 15px; }

header nav ul li {
  list-style-type: none;
  display: inline-block;
  margin-right: 20px; }

header nav ul li:last {
  margin: 0; }

header nav ul li a {
  font-size: 19px;
  line-height: normal;
  color: #ffffff; }
