$black: #010000;
$white: #ffffff;
$lightGrey: #e6e6e6;
$darkGrey : #333;
$red : #ff1755;
.container-fluid{
    height: 100vh;
    background-color: black;
    margin: 0px;
}

html {
    background: black;
}

